# Capstone Project - The Battle of the Neighborhoods (Week 2)
### Applied Data Science Capstone by IBM/Coursera

## Table of contents
* [Introduction: Business Problem](#introduction)
* [Data](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)



## Introduction: Business Problem <a name="introduction"></a>

In this project we will try to find an optimal location for a restaurant. Specifically, this report will be targeted to stakeholders interested in opening an Italian restaurant in Toronto, Canada.
Since there are lots of restaurants in Toronto we will try to detect **locations that are not already crowded with restaurants**. We are also particularly interested in **areas with no or almost Italian restaurants in vicinity**. 
We will use our data science powers to generate a few most promising neighbourhoods based on these criteria. Advantages of each area will then be clearly expressed so that best possible final location can be chosen by stakeholders.

## Data <a name="data"></a>

Based on definition of our problem, factors that will influence our decision are:
* number of existing restaurants in the neighbourhood (any type of restaurant)
* number of and distance to Italian restaurants in the neighbourhood, if any


We decided to use regularly spaced grid of locations, to define our neighbourhoods.

Following data sources will be needed to extract/generate the required information:
* number of restaurants and their type and location in every neighbourhoods will be obtained using **Foursquare API**
* We will use Wikipedia + Geospatial_Coordinates.csv

### Data set creating

Install some packages

In [1]:
!conda install -c conda-forge folium=0.5.0 --yes 
import folium

Collecting package metadata (current_repodata.json): done
Solving environment: |
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/noarch::ibm-wsrt-py37main-main==custom=2020
  - conda-forge/linux-64::pytorch==1.8.0=cpu_py37hafa7651_0
  - defaults/noarch::ibm-wsrt-py37main-keep==0.0.0=2020
done

# All requested packages already installed.

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

Lets get the Toronto zip information from wikipedia

In [3]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content, 'html.parser')

In [4]:
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

In [5]:
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [6]:
df.shape

(103, 3)

ADD Geospatial_Coordinates and combine both files.

In [7]:
!wget -O Geospatial_Coordinates.csv https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv

--2021-04-06 05:20:24--  https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Resolving cocl.us (cocl.us)... 52.116.127.228, 52.116.127.226
Connecting to cocl.us (cocl.us)|52.116.127.228|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-04-06 05:20:26--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.29.197
Connecting to ibm.box.com (ibm.box.com)|107.152.29.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-04-06 05:20:26--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2021-04-06 05:20:26--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 185.235.236.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|185.235.236.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!WA5Zbi5mK5sMDg9WqRAwqw8ke9uoV5eYKA-skojrdnrhDtE8dY_GhRoI6qqgdiztVg5dWNU3x7YiGTJ4y4U4oDtaA-QoKurq_AVcj26NYByVTCeu8EYVelFOIWC4CRk0SYSzWjueBoCHZPEmc3kylE6CAKafXgwzqcJjPpA_TAGBJqqeBmTBCSSUSw04toVOcJe2CRQQeIbx-gpKhyJFuA8tYo-2F0hIvJznBsvQSYJz0l8qJPj3OizOiMndCfd_7n7lDaXr0uux1KSM6HeOa1of7bZGrZrF87kka42Nacb3gRBcO4kofrUvzsJI-RzeLkScGZmBn-Tl2ekNcO3V4KQOuPQxM_vukvprfe1zIim0zGjBl52KBWC1Die-rFIuqG9ZV2mErOJ9nmNWfnYZki5yIkGPfHHkibVgLrL6A3WYLrNkOHz-JS_nuGDAXIa-Rc94QGmnt4F4ikvdGJGySxt07-pMmJSijg8u1CDf6S8iWhRW9XxcOVCJ9eLCngCH3lnPEB1MNprf6mIx8IKwLSipaf7GpiZr1ACNgy-788x2OIA0BuatzKHLpH2wgnmH6HuxHfJlXLBg6EDNX5AJJ_9tkFRwrF98TBDg73pjzvVkZtQpiRg970GDG7pga-UN0Iq47wEsapyx3zDuHMzXvfsx6wBTqu5jdXdMfV3fJU31SbEf3QUCpg75a5E-fINYYcy9mNF4BLc-3hIbOi3kv89h4xGcuWpfoIi94GHB9V3GkEKe6YRKLqc8JP8czrrCVsfPAOf1j_f8VguO-tlWGedpovQCuyJB0_Qsw-llNCBjPpH4oit_KdueidSOPuU99DSdEEF7V6XNdX60o53SplhNLTHL16mRsl51hMu6bRbchXN6LLmBDUZvuYS2NzPG-QanqOh3FoneT3gEVnCAomdfWtrDJz1WkuPAt4bjwMAZtZXQlmqddAUFwgtMUaQ0gpHCVFT7zhh-vCF8mQbv-GE9VA5PdN_xDMzGD5D0drgWbtaUkJ993PCJIeu_nDNn-Wq07EnNlZWoh6UVAevLE1znCB79B5iKoNvQQxlZdx1xUpiMpN_FNh0UZ0RdCGS6WP9if3gHRs2-KAu7SH5EYovkVn1JzT-bA98m1r1Qn63NRDp0FueLCVkasysjz5HdA6DG0GDYao57n8U7zP5eh03PvMBS8dOExSXyO5pGcowCsDA9F1vvb8DdHXqEL1dxQNE5sDMdZHW6ks41KPlPCJ9vpUJP4YNlYvOgmu004FmoOkdOfOlatC_U15D1f4r7Yz8JCj1P-8OZBMIv-ee7i5xS4jxNnBU44CqM54yf_YknGVKDKbeKxlv7-ZyGzhLXuPI4ixWJRKViS8ogC01fiIhgurpbkKUOVjwbfkqwTyaCm5Al034fwr-zMaUNLR0vSPKNrIUEe4xh7k2gTL-fyscOlgLvgeK9bVH_QAohSADJhjP3l-vGYNJ2KGhAMR_K8d5bTJlaTugmWM0YfQ../download [following]
--2021-04-06 05:20:27--  https://public.boxcloud.com/d/1/b1!WA5Zbi5mK5sMDg9WqRAwqw8ke9uoV5eYKA-skojrdnrhDtE8dY_GhRoI6qqgdiztVg5dWNU3x7YiGTJ4y4U4oDtaA-QoKurq_AVcj26NYByVTCeu8EYVelFOIWC4CRk0SYSzWjueBoCHZPEmc3kylE6CAKafXgwzqcJjPpA_TAGBJqqeBmTBCSSUSw04toVOcJe2CRQQeIbx-gpKhyJFuA8tYo-2F0hIvJznBsvQSYJz0l8qJPj3OizOiMndCfd_7n7lDaXr0uux1KSM6HeOa1of7bZGrZrF87kka42Nacb3gRBcO4kofrUvzsJI-RzeLkScGZmBn-Tl2ekNcO3V4KQOuPQxM_vukvprfe1zIim0zGjBl52KBWC1Die-rFIuqG9ZV2mErOJ9nmNWfnYZki5yIkGPfHHkibVgLrL6A3WYLrNkOHz-JS_nuGDAXIa-Rc94QGmnt4F4ikvdGJGySxt07-pMmJSijg8u1CDf6S8iWhRW9XxcOVCJ9eLCngCH3lnPEB1MNprf6mIx8IKwLSipaf7GpiZr1ACNgy-788x2OIA0BuatzKHLpH2wgnmH6HuxHfJlXLBg6EDNX5AJJ_9tkFRwrF98TBDg73pjzvVkZtQpiRg970GDG7pga-UN0Iq47wEsapyx3zDuHMzXvfsx6wBTqu5jdXdMfV3fJU31SbEf3QUCpg75a5E-fINYYcy9mNF4BLc-3hIbOi3kv89h4xGcuWpfoIi94GHB9V3GkEKe6YRKLqc8JP8czrrCVsfPAOf1j_f8VguO-tlWGedpovQCuyJB0_Qsw-llNCBjPpH4oit_KdueidSOPuU99DSdEEF7V6XNdX60o53SplhNLTHL16mRsl51hMu6bRbchXN6LLmBDUZvuYS2NzPG-QanqOh3FoneT3gEVnCAomdfWtrDJz1WkuPAt4bjwMAZtZXQlmqddAUFwgtMUaQ0gpHCVFT7zhh-vCF8mQbv-GE9VA5PdN_xDMzGD5D0drgWbtaUkJ993PCJIeu_nDNn-Wq07EnNlZWoh6UVAevLE1znCB79B5iKoNvQQxlZdx1xUpiMpN_FNh0UZ0RdCGS6WP9if3gHRs2-KAu7SH5EYovkVn1JzT-bA98m1r1Qn63NRDp0FueLCVkasysjz5HdA6DG0GDYao57n8U7zP5eh03PvMBS8dOExSXyO5pGcowCsDA9F1vvb8DdHXqEL1dxQNE5sDMdZHW6ks41KPlPCJ9vpUJP4YNlYvOgmu004FmoOkdOfOlatC_U15D1f4r7Yz8JCj1P-8OZBMIv-ee7i5xS4jxNnBU44CqM54yf_YknGVKDKbeKxlv7-ZyGzhLXuPI4ixWJRKViS8ogC01fiIhgurpbkKUOVjwbfkqwTyaCm5Al034fwr-zMaUNLR0vSPKNrIUEe4xh7k2gTL-fyscOlgLvgeK9bVH_QAohSADJhjP3l-vGYNJ2KGhAMR_K8d5bTJlaTugmWM0YfQ../download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.29.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.29.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_Coordinates.csv’

Geospatial_Coordina 100%[===================>]   2.82K  --.-KB/s    in 0s

2021-04-06 05:20:28 (46.5 MB/s) - ‘Geospatial_Coordinates.csv’ saved [2891/2891]

In [8]:
df1 = pd.read_csv('Geospatial_Coordinates.csv')

In [9]:
df1.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
df1.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [10]:
df2 = pd.merge(df, df1, on='PostalCode')
df2.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Ontario Provincial Government,43.662301,-79.389494

Let's import some more libaries

In [11]:
import json # library to handle JSON files
import requests # library to handle requests
import matplotlib.cm as cm
import matplotlib.colors as colors
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
from sklearn.cluster import KMeans # import k-means from clustering stage

Let's get the data for Toronto

### Foursquare
Now that we have our location candidates, let's use Foursquare API to get info on restaurants in each neighborhood.

We're interested in venues in 'food' category, but only those that are proper restaurants - coffe shops, pizza places, bakeries etc. are not direct competitors so we don't care about those. So we will include in out list only venues that have 'restaurant' in category name, and we'll make sure to detect and include all the subcategories of specific 'Italian restaurant' category, as we need info on Italian restaurants in the neighborhood.

Foursquare credentials are defined in hidden cell bellow.

In [15]:
CLIENT_ID = 'JKQMZRXFDVP5QYPF0ZJI2VPZFRXNS5RE03CBWK4O3LZFSO4A' #removed this for peer review
CLIENT_SECRET = '3XMAJSZJ32QD4FZMKD5F4IDID3SED3IYB3Q4PRG3ZA20P4ZG' #removed this for peer review
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

In [16]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])
   
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

Create a dataframe from the foursqaure data

In [17]:
df3 = getNearbyVenues(names = df2['Neighborhood'],
                                   latitudes = df2['Latitude'],
                                   longitudes = df2['Longitude'])

Parkwoods
Victoria Village
Regent Park, Harbourfront
Lawrence Manor, Lawrence Heights
Ontario Provincial Government
Islington Avenue
Malvern, Rouge
Don Mills North
Parkview Hill, Woodbine Gardens
Garden District, Ryerson
Glencairn
West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
Rouge Hill, Port Union, Highland Creek
Don Mills South
Woodbine Heights
St. James Town
Humewood-Cedarvale
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
Guildwood, Morningside, West Hill
The Beaches
Berczy Park
Caledonia-Fairbanks
Woburn
Leaside
Central Bay Street
Christie
Cedarbrae
Hillcrest Village
Bathurst Manor, Wilson Heights, Downsview North
Thorncliffe Park
Richmond, Adelaide, King
Dufferin, Dovercourt Village
Scarborough Village
Fairview, Henry Farm, Oriole
Northwood Park, York University
The Danforth  East
Harbourfront East, Union Station, Toronto Islands
Little Portugal, Trinity
Kennedy Park, Ionview, East Birchmount Park
Bayview Village
Downsview East
The Danforth West, Riverdale
Toronto Dominion Centre, Design Exchange
Brockton, Parkdale Village, Exhibition Place
Golden Mile, Clairlea, Oakridge
York Mills, Silver Hills
Downsview West
India Bazaar, The Beaches West
Commerce Court, Victoria Hotel
North Park, Maple Leaf Park, Upwood Park
Humber Summit
Cliffside, Cliffcrest, Scarborough Village West
Willowdale, Newtonbrook
Downsview Central
Studio District
Bedford Park, Lawrence Manor East
Del Ray, Mount Dennis, Keelsdale and Silverthorn
Humberlea, Emery
Birch Cliff, Cliffside West
Willowdale South
Downsview Northwest
Lawrence Park
Roselawn
Runnymede, The Junction North
Weston
Dorset Park, Wexford Heights, Scarborough Town Centre
York Mills West
Davisville North
Forest Hill North & West
High Park, The Junction South
Westmount
Wexford, Maryvale
Willowdale West
North Toronto West
The Annex, North Midtown, Yorkville
Parkdale, Roncesvalles
Enclave of L4W
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
Agincourt
Davisville
University of Toronto, Harbord
Runnymede, Swansea
Clarks Corners, Tam O'Shanter, Sullivan
Moore Park, Summerhill East
Kensington Market, Chinatown, Grange Park
Milliken, Agincourt North, Steeles East, L'Amoreaux East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
New Toronto, Mimico South, Humber Bay Shores
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
Steeles West, L'Amoreaux West
Rosedale
Enclave of M5E
Alderwood, Long Branch
Clairville, Humberwood, Woodbine Downs, West Humber, Kipling Heights, Rexdale, Elms, Tandridge, Old Rexdale
Upper Rouge
St. James Town, Cabbagetown
First Canadian Place, Underground city
The Kingsway, Montgomery Road, Old Mill North
Church and Wellesley
Enclave of M4L
Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West

Lets view some properties from the foursquare data.

In [18]:
df3.shape

(2121, 7)

In [19]:
df3.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Agincourt,4,4,4,4,4,4
"Alderwood, Long Branch",9,9,9,9,9,9
"Bathurst Manor, Wilson Heights, Downsview North",22,22,22,22,22,22
Bayview Village,4,4,4,4,4,4
"Bedford Park, Lawrence Manor East",23,23,23,23,23,23
...,...,...,...,...,...,...
Willowdale West,5,5,5,5,5,5
"Willowdale, Newtonbrook",1,1,1,1,1,1
Woburn,4,4,4,4,4,4
Woodbine Heights,5,5,5,5,5,5
York Mills West,2,2,2,2,2,2

In [20]:
"Italian Restaurant" in df3['Venue Category'].unique()

True

In [21]:
to_onehot = pd.get_dummies(df3[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
to_onehot['Neighborhoods'] = df3['Neighborhood'] 

# move neighborhood column to the first column
fixed_columns = [to_onehot.columns[-1]] + list(to_onehot.columns[:-1])
to_onehot = to_onehot[fixed_columns]

print(to_onehot.shape)
to_onehot.head()

(2121, 270)

,Neighborhoods,Accessories Store,Airport,Airport Food Court,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,Aquarium,...,Truck Stop,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wings Joint,Women's Store,Yoga Studio
0,Parkwoods,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Parkwoods,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Victoria Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Victoria Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Victoria Village,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Build up the dataset for our  analysis

In [22]:
to_grouped = to_onehot.groupby(["Neighborhoods"]).mean().reset_index()

print(to_grouped.shape)
to_grouped

(99, 270)

,Neighborhoods,Accessories Store,Airport,Airport Food Court,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,Aquarium,...,Truck Stop,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Warehouse Store,Wine Bar,Wings Joint,Women's Store,Yoga Studio
0,Agincourt,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Alderwood, Long Branch",0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"Bathurst Manor, Wilson Heights, Downsview North",0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bayview Village,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Bedford Park, Lawrence Manor East",0.0,0.0,0.0,0.0,0.0,0.0,0.043478,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Willowdale West,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95,"Willowdale, Newtonbrook",0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,Woburn,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,Woodbine Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0
98,York Mills West,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
len(to_grouped[to_grouped["Italian Restaurant"] > 0])

25

In [24]:
df4 = to_grouped[["Neighborhoods","Italian Restaurant"]]

In [25]:
df4.head(9)

                                       Neighborhoods  Italian Restaurant
0                                          Agincourt            0.000000
1                             Alderwood, Long Branch            0.000000
2    Bathurst Manor, Wilson Heights, Downsview North            0.000000
3                                    Bayview Village            0.000000
4                  Bedford Park, Lawrence Manor East            0.086957
5                                        Berczy Park            0.000000
6                        Birch Cliff, Cliffside West            0.000000
7       Brockton, Parkdale Village, Exhibition Place            0.045455
8  CN Tower, King and Spadina, Railway Lands, Har...            0.000000

## Methodology <a name="methodology"></a>

First, I need to get the list of neighbourhoods in Toronto, Canada. This is possible by extracting the list of neighbourhoods from Wikipedia: https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M  I did the web scraping by utilizing pandas HTML table scraping method as it is easier and more convenient to pull tabular data directly from a webpage into the data frame. However, it is only a list of neighbourhoods names and postal codes. I need to get their coordinates to utilize Foursquare to pull the list of venues near these neighbourhoods. To get the coordinates, I used Geocoder Package(Geospatial_Coordinates.csv).

Match the coordinates of Toronto neighbourhoods. After gathering these coordinates, I visualize the map of Toronto using Folium package to verify whether these are correct coordinates. Next, I use Foursquare API to pull the list of top 100 venues within 500 meters radius.  I am pulled the names, categories, latitude, and longitude of the venues. With this data, I can also check how many unique categories that I can get from these venues.
Then, I analyse each neighbourhoods by grouping the rows by neighbourhoods and taking the mean on the frequency of occurrence of each venue category. This is to prepare clustering to be done later.
Here, I made a justification to specifically look for “Italian restaurants”. Lastly, I performed the clustering method by using k-means clustering. K-means clustering algorithm identifies k number of centroids, and then allocates every data point to the nearest cluster while keeping the centroids as small as possible. It is one of the simplest and popular unsupervised machine learning algorithms and it is highly suited for this project as well. I have clustered the neighbourhoods in Toronto into 3 clusters based on their frequency of occurrence for “Indian food”. Based on the results (the concentration of clusters), I will be able to recommend the ideal location to open the restaurant.

## Analysis <a name="analysis"></a>

Lets perform some K-means

In [26]:
toclusters = 3
to_clustering = df4.drop(["Neighborhoods"], 1)
kmeans = KMeans(n_clusters=toclusters, random_state=1)
kmeans.fit_transform(to_clustering)
kmeans.labels_[0:20]

array([0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 2, 1, 0, 0, 1, 0, 2, 1, 0],
      dtype=int32)

In [27]:
to_merged = df4.copy()

# add clustering labels
to_merged["Cluster Labels"] = kmeans.labels_

Lets analyse this data by doing some more transformations to it.

In [28]:
to_merged.rename(columns={"Neighborhoods": "Neighborhood"}, inplace=True)
to_merged.head(5)

,Neighborhood,Italian Restaurant,Cluster Labels
0,Agincourt,0.000000,0
1,"Alderwood, Long Branch",0.000000,0
2,"Bathurst Manor, Wilson Heights, Downsview North",0.000000,0
3,Bayview Village,0.000000,0
4,"Bedford Park, Lawrence Manor East",0.086957,1

In [29]:
to_merged.sort_values(["Cluster Labels"], inplace=True)
to_merged.head()

,Neighborhood,Italian Restaurant,Cluster Labels
0,Agincourt,0.0,0
67,"Regent Park, Harbourfront",0.0,0
66,Parkwoods,0.0,0
65,"Parkview Hill, Woodbine Gardens",0.0,0
62,"Old Mill South, King's Mill Park, Sunnylea, Hu...",0.0,0

In [30]:
to_merged.rename(columns={"Neighborhoods": "Neighborhood"}, inplace=True)
to_merged.head(5)

,Neighborhood,Italian Restaurant,Cluster Labels
0,Agincourt,0.0,0
67,"Regent Park, Harbourfront",0.0,0
66,Parkwoods,0.0,0
65,"Parkview Hill, Woodbine Gardens",0.0,0
62,"Old Mill South, King's Mill Park, Sunnylea, Hu...",0.0,0

In [31]:
to_merged = to_merged.join(df3.set_index("Neighborhood"), on="Neighborhood")

print(to_merged.shape)
to_merged.head()

(2121, 9)

,Neighborhood,Italian Restaurant,Cluster Labels,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Agincourt,0.0,0,43.79420,-79.262029,Panagio's Breakfast & Lunch,43.792370,-79.260203,Breakfast Spot
0,Agincourt,0.0,0,43.79420,-79.262029,El Pulgarcito,43.792648,-79.259208,Latin American Restaurant
0,Agincourt,0.0,0,43.79420,-79.262029,Twilight,43.791999,-79.258584,Lounge
0,Agincourt,0.0,0,43.79420,-79.262029,Commander Arena,43.794867,-79.267989,Skating Rink
67,"Regent Park, Harbourfront",0.0,0,43.65426,-79.360636,Tandem Coffee,43.653559,-79.361809,Coffee Shop

In [32]:
to_merged.sort_values(["Cluster Labels"], inplace=True)
to_merged.head()

,Neighborhood,Italian Restaurant,Cluster Labels,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Agincourt,0.0,0,43.794200,-79.262029,Panagio's Breakfast & Lunch,43.792370,-79.260203,Breakfast Spot
5,Berczy Park,0.0,0,43.644771,-79.373306,Scotiabank Arena,43.643446,-79.379040,Basketball Stadium
5,Berczy Park,0.0,0,43.644771,-79.373306,The Reservoir Lounge,43.648517,-79.374556,Jazz Club
5,Berczy Park,0.0,0,43.644771,-79.373306,Starbucks,43.644489,-79.368639,Coffee Shop
5,Berczy Park,0.0,0,43.644771,-79.373306,Seafront Fish Market,43.648479,-79.371489,Fish Market

## Results and Discussion <a name="results"></a>

Below you can find a map of the area. green is cluster 0, blue is cluster 1, red is cluster 2.

In [33]:
neighborhood_latitude = df2.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = df2.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = df2.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Parkwoods are 43.7532586, -79.3296565.

In [ ]:
map_clusters = folium.Map(location=[43.7532586, -79.3296565],zoom_start=14)

# set color scheme for the clusters


# add markers to the map
markers_colors={}
markers_colors[0] = 'red'
markers_colors[1] = 'blue'
markers_colors[2] = 'green'
markers_colors[3] = 'yellow'
markers_colors[4] = 'cyan'
markers_colors[5] = 'black'
for lat, lon, cluster in zip(to_merged['Neighborhood Latitude'], to_merged['Neighborhood Longitude'], to_merged['Cluster Labels']):
    
    
    folium.features.CircleMarker(
        [lat, lon],
        radius=5,
       
        color =markers_colors[cluster],
        fill_color=markers_colors[cluster],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

Below you can find some information about the amount of italian restaurant in each area.

In [ ]:
#Cluster 0
to_merged.loc[(to_merged['Cluster Labels'] ==0) & (to_merged['Venue Category'] == 'Italian Restaurant') ]

In [ ]:
#Cluster 1
to_merged.loc[(to_merged['Cluster Labels'] ==1) & (to_merged['Venue Category'] == 'Italian Restaurant') ]

In [ ]:
#Cluster 2

to_merged.loc[(to_merged['Cluster Labels'] ==2) & (to_merged['Venue Category'] == 'Italian Restaurant') ]

Clusters
The results from k-means clustering show that we can categorize Toronto neighbourhoods into 3 clusters based on how many Italian restaurants are I n each neighbourhoods:
● Cluster 0: Neighbourhoods with a few  Italian restaurants.
● Cluster 1: Neighbourhoods with the most Italian restaurants.
● Cluster 2: Neighbourhoods with some Italian restaurants
The results are visualized in the above map with Cluster 0 in green, Cluster 1 in blue, Cluster 2 in red.

Most of the Italian restaurants are in cluster 1 lowest in Cluster 0.
Looking at nearby venues it seems cluster 0 might be a good location as there are not a lot of Italian restaurants in these areas. We therefore recommend the entrepreneur to open an authentic Italian restaurant in these locations.

Our analysis shows that although there is a great number of restaurants in Berlin (~2000 in our initial area of interest which was 12x12km around Alexanderplatz), there are pockets of low restaurant density fairly close to city center. Highest concentration of restaurants was detected north and west from Alexanderplatz, so we focused our attention to areas south, south-east and east, corresponding to boroughs Kreuzberg, Friedrichshain and south-east corner of central Mitte borough. Another borough was identified as potentially interesting (Prenzlauer Berg, north-east from Alexanderplatz), but our attention was focused on Kreuzberg and Friedrichshain which offer a combination of popularity among tourists, closeness to city center, strong socio-economic dynamics *and* a number of pockets of low restaurant density.

After directing our attention to this more narrow area of interest (covering approx. 5x5km south-east from Alexanderplatz) we first created a dense grid of location candidates (spaced 100m appart); those locations were then filtered so that those with more than two restaurants in radius of 250m and those with an Italian restaurant closer than 400m were removed.

Those location candidates were then clustered to create zones of interest which contain greatest number of location candidates. Addresses of centers of those zones were also generated using reverse geocoding to be used as markers/starting points for more detailed local analysis based on other factors.

Result of all this is 15 zones containing largest number of potential new restaurant locations based on number of and distance to existing venues - both restaurants in general and Italian restaurants particularly. This, of course, does not imply that those zones are actually optimal locations for a new restaurant! Purpose of this analysis was to only provide info on areas close to Berlin center but not crowded with existing restaurants (particularly Italian) - it is entirely possible that there is a very good reason for small number of restaurants in any of those areas, reasons which would make them unsuitable for a new restaurant regardless of lack of competition in the area. Recommended zones should therefore be considered only as a starting point for more detailed analysis which could eventually result in location which has not only no nearby competition but also other factors taken into account and all other relevant conditions met.

## Conclusion <a name="conclusion"></a>

Purpose of this project was to identify Berlin areas close to center with low number of restaurants (particularly Italian restaurants) in order to aid stakeholders in narrowing down the search for optimal location for a new Italian restaurant. By calculating restaurant density distribution from Foursquare data we have first identified general boroughs that justify further analysis (Kreuzberg and Friedrichshain), and then generated extensive collection of locations which satisfy some basic requirements regarding existing nearby restaurants. Clustering of those locations was then performed in order to create major zones of interest (containing greatest number of potential locations) and addresses of those zone centers were created to be used as starting points for final exploration by stakeholders.

Final decission on optimal restaurant location will be made by stakeholders based on specific characteristics of neighborhoods and locations in every recommended zone, taking into consideration additional factors like attractiveness of each location (proximity to park or water), levels of noise / proximity to major roads, real estate availability, prices, social and economic dynamics of every neighborhood etc.